.switcher {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;


  width: auto;
  min-width: 50px;
  height: 35px;
  display: flex;
  justify-content: center;
  padding: 2px 10px;
  align-items: center;
  gap: 15px;
  font-weight: bold;
  background: linear-gradient(145deg, #ffa500, #ff8c00);
  border-radius: 16px;
  box-shadow: 
      0 4px 0 #cc7000,
      0 5px 15px rgba(0, 0, 0, 0.3),
      inset 0 -2px 10px rgba(0, 0, 0, 0.2),
      inset 0 2px 10px rgba(255, 255, 255, 0.3);
  transform: perspective(500px) rotateX(10deg);
  color: #ffffff;
}

.dropdownButton:hover {
  background: #cc7000;
  cursor: pointer;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 4px;
  background: #cc7000;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  min-width: 50px;
  color: #ffffff;
}

.open {
  display: block;
}

.languageOption {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  border-radius: 6px;
}

.languageOption:hover {
  background: #ff8c00;
  color: #ffffff;
  font-weight: bold;
}

.languageOption.active {
  background: #ffa500;
  color: #ffffff;
  font-weight: bold;
}

@media (max-width: 480px) {
  .dropdownButton {
    height: 30px;
    min-width: 45px;
  }
}