.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url('/images/layout_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.language {
    position: absolute;
    right: 15px;
    top: 50px;
    z-index: 3;
}

.coin {
    width: auto;
    min-width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: 2px 10px;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(145deg, #ffa500, #ff8c00);
    position: absolute;
    border-radius: 16px;
    top: 15px;
    font-weight: bold;
    font-size: 14px;
    right: 15px;
    z-index: 3;
    box-shadow: 0 4px 0 #cc7000, 0 5px 15px rgba(0, 0, 0, 0.3), inset 0 -2px 10px rgba(0, 0, 0, 0.2), inset 0 2px 10px rgba(255, 255, 255, 0.3);
    transform: perspective(500px) rotateX(10deg);
    &:hover {
       color: white;
       background: #cc7000;
       cursor: pointer;
    }
}

.content {
    flex: 1;
    margin-bottom: 60px;
}

.nav {
    flex: 1;
    max-height: max-content;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 480px) {
    .coin {
      height: 25px;
      min-width: 70px;
    }
  }