.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url('/images/layout_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .language {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 3;
    }
}

.content {
    flex: 1;
    margin-bottom: 70px;
}

.nav {
    flex: 1;
    max-height: max-content;
    position: fixed;
    bottom: 0;
    width: 100%;
}