body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ddd;
    font-family: sans-serif;
}

.App {
    text-align: center;
    min-height: 100vh;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: absolute;
    width: 422px;
    height: 552px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    margin-bottom: 10px;
}

.overlay button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
